#main{
   -fx-background-image: url("photos/login2/2.png");
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
   -fx-background-size: contain;
}

#login{
   -fx-background-image: url("photos/login2/3.png");
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
   -fx-background-size: contain;
}

#register{
   -fx-background-image: url("photos/login2/4.png");
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
   -fx-background-size: contain;
}

#forgetPassword{
   -fx-background-image: url("photos/login2/5.png");
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
   -fx-background-size: contain;
}

#report{
   -fx-background-image: url("photos/login2/6.png");
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
   -fx-background-size: contain;
}