#main{
   -fx-background-image: url("photos/main.png");
   -fx-background-repeat: no-repeat;
   -fx-background-position: center center;
   -fx-background-size: cover;
}

#login{
   -fx-background-image: url("photos/login.png");
   -fx-background-repeat: no-repeat;
   -fx-background-position: center center;
   -fx-background-size: cover;
}

#register{
   -fx-background-image: url("photos/register.png");
   -fx-background-repeat: no-repeat;
   -fx-background-position: center center;
   -fx-background-size: cover;
}

#forgetPassword{
   -fx-background-image: url("photos/forget_password.png");
   -fx-background-repeat: no-repeat;
   -fx-background-position: center center;
   -fx-background-size: cover;
}

#report{
   -fx-background-image: url("photos/report.png");
   -fx-background-repeat: no-repeat;
   -fx-background-position: center center;
   -fx-background-size: cover;
}

#policeChief{
   -fx-background-image: url("photos/police_chief.png");
   -fx-background-repeat: no-repeat;
   -fx-background-position: center center;
   -fx-background-size: cover;
}

#viewOfficer{
   -fx-background-image: url("photos/view_officer.png");
   -fx-background-repeat: no-repeat;
   -fx-background-position: center center;
   -fx-background-size: cover;
}

#viewProfile{
   -fx-background-image: url("photos/view_profile.png");
   -fx-background-repeat: no-repeat;
   -fx-background-position: center center;
   -fx-background-size: cover;
}

#assignOfficer{
   -fx-background-image: url("photos/assign_officer.png");
   -fx-background-repeat: no-repeat;
   -fx-background-position: center center;
   -fx-background-size: cover;
}

#createDepartment{
   -fx-background-image: url("photos/create_department.png");
   -fx-background-repeat: no-repeat;
   -fx-background-position: center center;
   -fx-background-size: cover;
}

#viewDepartment{
   -fx-background-image: url("photos/view_department.png");
   -fx-background-repeat: no-repeat;
   -fx-background-position: center center;
   -fx-background-size: cover;
}

#addCriminal{
   -fx-background-image: url("photos/add_criminal.png");
   -fx-background-repeat: no-repeat;
   -fx-background-position: center center;
   -fx-background-size: cover;
}

#viewCriminal{
   -fx-background-image: url("photos/view_criminal.png");
   -fx-background-repeat: no-repeat;
   -fx-background-position: center center;
   -fx-background-size: cover;
}

#policeOfficer{
   -fx-background-image: url("photos/officer.png");
   -fx-background-repeat: no-repeat;
   -fx-background-position: center center;
   -fx-background-size: cover;
}

#policeProfile{
   -fx-background-image: url("photos/officer_profile.png");
   -fx-background-repeat: no-repeat;
   -fx-background-position: center center;
   -fx-background-size: cover;
}

/*
#border{
   -fx-border-radius: 15px;
   -fx-border-color: green;
   -fx-border-width: 2px;
   -fx-background-color: transparent;
}*/
